<local-storage data-key="EarTrainerUser">
<define-user id="User">
    <div
      class="grid gap-4 md:gap-0 md:flex md:flex-col md:space-y-4 md:max-h-[var(--fullHeight)] overflow-auto">
      <div class="card order-1 md:order-2 overflow-auto flex-auto">
        <%- include('_level-info.ejs') %>
        <div id="UserCard" class="hidden">
          <h2 class="-mt-4 -ml-4 -mr-4 bg-theme-text text-theme-bg font-bold px-4 py-2 text-lg">Set Options:</h2>
          <form>
            <key-selector>
              <div class="grid grid-cols-6 gap-y-4 gap-x-3 mb-4 mt-4">
                <div class="col-span-4 border-theme-text border rounded-lg p-2 grid grid-cols-2 gap-2">
                  <div class="col-span-1">
                    <label for="KeyCenter">Key:</label>
                    <div class="select-wrap">
                      <select name="keycenter" id="KeyCenter" class="input w-full">
                        <option value='0' selected>C</option>
                        <option value='1'>Db</option>
                        <option value='2'>D</option>
                        <option value='3'>Eb</option>
                        <option value='4'>E</option>
                        <option value='5'>F</option>
                        <option value='6'>Gb</option>
                        <option value='7'>G</option>
                        <option value='8'>Ab</option>
                        <option value='9'>A</option>
                        <option value='10'>Bb</option>
                        <option value='11'>B</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-span-1">
                    <label for="RandomKey" class="text-xs text-theme-text">Randomize</label>
                    <label class="toggle inline-block my-1">
                      <input id="RandomKey" name="randomkey" type="checkbox">
                      <span class="slider round"></span>
                    </label>
                  </div>
                </div>
                <div class="col-span-2">
                  <%- include('_cadence-selector.ejs') %>
                </div>
                <div class="col-span-6">
                  <%- include('_noteset.ejs') %>
                </div>
                <div class="col-span-3 relative">
                  <label for="NoteCount">Notes:</label>
                    <%- include('_qty.ejs', { id: 'NoteCount', name: 'note_count', min: 1, max: 12, value: 1, step: 1 }) %>
                  <div class="text-xs text-theme-secondary absolute w-full">after cadence</div>
                </div>
            </key-selector>
            <div class="col-span-3">
              <label for="CountdownMinutes">Total Time:</label>
              <minutes-seconds class="flex time-input mt-1 bg-theme-bg" id="Countdown">
                <input type="hidden" name="countdown" value="300">
                <button type="button" class="time-incrementer" data-decrement="" aria-label="Decrease Time">
                  –
                </button>
                <input type="text" id="CountdownMinutes" inputmode="numeric" min="0" max="99" name="countdown-minutes" value="05" pattern="\d{2}" step="1" autocomplete="off">:<input type="text" id="CountdownSeconds" inputmode="numeric" min="0" max="59" name="countdown-seconds" value="00" pattern="\d{2}" step="1" autocomplete="off">
                <button type="button" class="time-incrementer" data-increment="" aria-label="Increase Time">
                    +
                </button>
              </minutes-seconds>
              <div class="text-xs text-theme-secondary">countdown MM:SS</div>
            </div>
            <div class="col-span-3">
              <label for="Timelimit">Time Per Note:</label>
                <%- include('_qty.ejs', { id: 'Timelimit', name: 'timelimit', min: 0.5, max: 999999, value: 5, step: 0.5 }) %>
              <div class="text-xs text-theme-secondary">seconds</div>
            </div>
            <input type="hidden" name="cadenceoctave" id="Octave" value="4" />
            <div class="col-span-3">
              <label for="Octave">Cadence every:</label>
                <%- include('_qty.ejs', { id: 'Octave', name: 'cadenceevery', min: 1, max: 999999, value: 1, step: 1 }) %>
              <div class="text-xs text-theme-secondary">question(s)</div>
            </div>
            <div class="col-span-full">
              <label for="NoteRange">Range (Octaves):</label>
              <div id="NoteRange" name="range"></div>
            </div>
        </div>
        </form>
      </div>
      <div class="-ml-4 -mr-4 -mb-4 p-4 mt-4 border-t-2 border-theme-text">
        <label for="Bpm">Cadence Tempo:</label>
        <%- include('_qty.ejs', { id: 'BPM', name: 'bpm', min: 1, max: 400, value: 60, step: 1, inputClass: 'min-w-[3ch]' }) %>
        <div class="text-xs text-theme-secondary">beats per minute</div>
      </div>
      </div>
    </div>
  </define-user>
</local-storage>